@import "../../../../assets/styles/variables";

.inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    padding: 0.5em 0;
}

@media (min-width: $resolution-35em) {
    .inputs {
        grid-template-columns: repeat(3, 1fr);
    }
    .options {
        display: flex;
        justify-content: space-between;
    }
}